<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOJService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/OJService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOJService" contract="OJService.IOJService"
                name="BasicHttpBinding_IOJService" />
        </client>
    </system.serviceModel>
</configuration>