<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Resource/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/Resource/js/jquery.min.js"></script>
    <script src="/Resource/bootstrap/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <!--head-->
            <div class="span12">

                <!--    <div class="row">
                    <div class="col-md-4">
                        <img class="img-rounded img-responsive" style="width: 198px; height: 45px; margin: 30px 20px 10px 50px;" src="/Resource/img/test.png" />
                    </div>
                    <div class="col-md-8" style="height: 99px">
                    </div>
                </div>-->


                <!--Menu-->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="nav-header">
                        <a class="navbar-brand col-sm-2 text-center" href="#">在线评测系统</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/view/MainPage.html">练习</a>
                        </li>
                        <li>
                            <a href="#">分类</a>
                        </li>
                        <li>
                            <a href="#">比赛</a>
                        </li>
                        <li>
                            <a href="#">班级</a>
                        </li>
                        <li>
                            <a href="#">排名</a>
                        </li>
                        <li>
                            <a href="#">关于</a>
                        </li>
                        <!--<li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">下拉菜单<b class="caret"></b></a>
                            <ul class="dropdown-menu" contenteditable="true">
                                <li>
                                    <a href="#">下拉导航1</a>
                                </li>
                                <li>
                                    <a href="#">下拉导航2</a>
                                </li>
                                <li>
                                    <a href="#">其他</a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header">标签
                                </li>
                                <li>
                                    <a href="#">链接1</a>
                                </li>
                                <li>
                                    <a href="#">链接2</a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>

                    <div id="userInfo">
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="/view/Login.html">登录</a>
                            </li>
                            <li><a href="/view/Regist.html">注册</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <!--Center-->
        <div class="row-fluid">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text-center">
                    <ul class="pagination pagination-centered text-center" style="margin: 0">
                        <li class="previous"><a href="#">上一页</a></li>
                        <li><a href="/view/MainPage.html?pageindex=1">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">11</a></li>
                        <li><a href="#">12</a></li>
                        <li><a href="#">13</a></li>
                        <li><a href="#">14</a></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#">16</a></li>
                        <li><a href="#">17</a></li>
                        <li class="next"><a href="#">下一页</a></li>
                    </ul>
                </div>

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px">题号</th>
                            <th style="width: 50px">难度</th>
                            <th style="width: 400px">标题</th>
                            <th>通过率</th>
                            <th style="width: 50px">标程</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>0</td>
                            <td><a href="ProblemInfo.html">A+B Problem</a></td>
                            <td>56 % (37452/66389)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>3</td>
                            <td><a href="javascript:void(0);">括号配对问题</a></td>
                            <td>23 % (11184/47723)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>5</td>
                            <td>多边形重心问题</td>
                            <td>32 % (1271/3923)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination pagination-centered text-center">
                        <li class="previous"><a href="#">上一页</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">11</a></li>
                        <li><a href="#">12</a></li>
                        <li><a href="#">13</a></li>
                        <li><a href="#">14</a></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#">16</a></li>
                        <li><a href="#">17</a></li>
                        <li class="next"><a href="#">下一页</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</body>
</html>
