    <!-- footer -->
    <div class="footer">
        <div class="wrapper">
            <div class="us">
                ©2010 acm.nyist.net, all rights reserved<br>
                <a href="http://acm.nyist.net/JudgeOnline/about.php">关于我们</a><br>
                <a href="http://acm.nyist.net/JudgeOnline/member.php">联系我们</a>
            </div>
            <div class="flink">
                <div align="center">
                    <br>
                    <p class="last">
                        友情链接：
   
                        <a href="http://acm.nyist.net/acm-icpc/provincial/sixth/news.php" target="_blank">2013河南省赛  </a>
                        <a href="https://uva.onlinejudge.org/" target="_blank">uva  </a>
                        <a href="http://acm.hdu.edu.cn/" target="_blank">hdu </a>
                        <a href="http://poj.org/" target="_blank">poj </a>
                        <a href="http://code.google.com/p/hustoj/" target="_blank">hust</a>
                        <a href="http://acm.nyist.net/2015_ccpc_rank.html">2015ccpc排行榜</a>
                    </p>
                    <a href="http://cie.nyist.edu.cn/" target="_blank">计算机与信息工程学院</a><br>
                    <span>访问量：58762821人次(从2010年10月26日晚开始统计)</span>
                </div>
            </div>

        </div>
    </div>

