<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOJService" maxBufferPoolSize="2147483647"
  maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
       maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/OJService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IOJService" contract="OJService.IOJService"
          name="BasicHttpBinding_IOJService" />
    </client>
  </system.serviceModel>
</configuration>